footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem solid var(--card-border);
  padding: 1rem;
  gap: 0.5rem;
}

.footer-actions a {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--text-tertiary);
  gap: 0.5rem;
  font-size: 1rem;
}

.brand-name-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo img {
  width: 2.5rem;
}

.brand-name {
  color: var(--text-secondary);
  font-size: 1rem;
}

.action-icon i {
  font-size: 1rem;
}

.footer-branding {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.brand-rights {
  font-size: 0.8rem;
  color: var(--text-tertiary);
}

.brand-rights i {
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

@media (max-width: 770px) {
  .footer-actions a {
    font-size: 0.7rem;
    flex-direction: column;
    gap: 0;
  }

  .action-icon i {
    font-size: 0.7rem;
  }

  .brand-name-wrapper {
    gap: 0.2rem;
  }

  .brand-logo img {
    width: 2rem;
  }

  .brand-name {
    color: var(--text-secondary);
    font-size: 1rem;
  }
  .brand-rights {
    font-size: 0.6rem;
  }

  .brand-rights i {
    font-size: 0.6rem;
    margin-right: 0.2rem;
  }
}
