:root {
  --bg-color: #020816;
  --bg-card: #0a0f22;
  --card-border: #0f1424;

  --text-primary: #e2e2e2;
  --text-secondary: #c6cbdc;
  --text-tertiary: #bac0ce;
  --text-muted: #9ca3af;

  --accent-primary: #4c63faed;
  --accent-primary-hover: #4c64fa;

  --glass-overlay: rgb(15, 15, 15);
  --glass-panel: rgba(0, 0, 0, 0.746);
  --glass-border: rgba(255, 255, 255, 0.1);

  --theme-button-bg: #040a18;
  --theme-button-border: #151c2e;
}

.light {
  --bg-color: #f8fafc;
  --bg-card: #ffffff;
  --card-border: #e2e8f0;

  --text-primary: #0f172a;
  --text-secondary: #334155;
  --text-tertiary: #64748b;
  --text-muted: #94a3b8;

  --accent-primary: #4c64fa;
  --accent-primary-hover: #3b50e0;

  --glass-overlay: rgba(158, 152, 152, 0.45);
  --glass-panel: rgba(227, 229, 241, 0.71);
  --glass-border: rgba(91, 108, 255, 0.15);

  --theme-button-bg: #f6f6f6;
  --theme-button-border: #e2e8f0;
}
